.form-group-file-button {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  row-gap: 1rem;

  label {
    pointer-events: none;
  }


  input[type="file"] {
    display: none;
  }
}