.points-btn {
  justify-content: space-between;
  color: white;
  text-transform: capitalize;
  background-color: #778F6B;
  align-items: center;
  padding-right: 2rem;
  
  & .coin-box {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    & img {
      width: 1.5rem;
    }
  }
}

.confirm-order {
  color: white;
  text-transform: capitalize;
  background-color: #778F6B;
  justify-content: center;
}

.upload-image {
  color: white;
  text-transform: capitalize;
  background-color: var(---default-positive-button-color-2);
  justify-content: center;
  width: 60%;
}


.order-staff-button {
  text-transform: capitalize;
  color: white;
  background-color: #778F6B;
  font-size: .7rem;
  justify-content: center;
  align-items: center;
  padding: .4rem .5rem;
}