.form-group-login-register-variant {
  flex-wrap: wrap;
  & label {
    padding: 1rem;
    flex-basis: 10rem;
  }
}

.form-group-profile-variant {
  flex-direction: column;

  & label {
    padding: .7rem 0;
    color: white;
    font-size: 1.7rem;
    flex-shrink: 0;
  }

  & input:disabled {
    background-color: #D9D9D9;
  }
}

.form-groud-add-menu-variant {
  flex-direction: column;


  input {
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .form-group-profile-variant {
    & label {
      flex-basis: 100%;
    }
  }
}