.sidebar {
  display: none;
  flex-shrink: 0;
  background-color: green;
  height: 100vh;
}

.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {

  .sidebar {
    display: flex;
    flex-basis: calc(379rem /16);
  }
}