.sidebar {
  flex-shrink: 0;
  background-color: green;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  padding: 5rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.sidebar-full-screen {
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  padding: 5rem 0 1rem 0;

}

.sidebar-content {
  display: none;
  border: 1px solid;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem
}

.open-sidebar-content {
  display: flex;
}

.shoppingcard-img {
  height: 4rem;
  bottom: 1rem;
  right: 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}


@media screen and (min-width: 1200px) {
  .sidebar {
    flex-basis: calc(379rem / 16);
    padding: 2rem 1rem;
  }

  .sidebar-full-screen {
    padding: 5rem 0rem;
  }

  .sidebar-content {
    display: flex;
    flex-grow: 1;

  }

  .open-sidebar-content {
    flex-grow: unset;
  }

  .shoppingcard-img {
    display: none;
  }

  .shopping-card-img-enforce {
    display: flex;
  }
}