.profile-details {
  display: flex;
  flex-direction: column;

  & img {
    width: 20rem;
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .profile-details {

    & img {
      width: 100%;
    }
  }
}