.form-group-array {
  display: flex;
  padding: 1rem 0;
  position: relative;

  & input {
    padding: 1rem
  }

  & input {
    flex-grow: 1;
    border-radius: var(--default-radius);
  }


  .asterisk  {
    position: relative;

    &:after {
      position: absolute;
      content: '*';
      top: 0;
      right: 0;
      color: red;
    }

  }
}




.error-message {
  text-align: center;
  height: 1rem;
}

