.form-group-array {
  display: flex;
  padding: 1rem 0;
  position: relative;

  & input {
    padding: 1rem
  }

  & input {
    flex-grow: 1;
    border-radius: var(--default-radius);
  }

  .asterisk {
    position: relative;

    &:after {
      position: absolute;
      content: '*';
      top: 0;
      right: 0;
      color: red;
    }
  }
}

.error-message-field {
  height: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  background-color: var(--default-main-container-bg-color-darker);
  flex-basis: 15rem;
  border-radius: var(--default-radius);
  padding: 1rem;
  overflow-y: auto;
  row-gap: .5rem;

   input {
     width: 100%;
   }
}