.input-chart-section {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--default-sidebar-color);
  border-radius: var(--default-radius);
  flex-wrap: wrap;
  justify-content: center;

  & .box {
    flex-basis: 20rem;
    min-height: 18rem;
    flex-grow: 1;
    padding: 2rem;
    background-color: var(--default-grey-color);
    display: flex;
    flex-direction: column;
    border-radius: var(--default-radius);
    row-gap: .5rem;
  }

  input {
    height: 1.5rem;
    width: 1.5rem;
  }

  .select-label-group {
    display: flex;
    column-gap: 1rem;
  }
}

.timeline {
  row-gap: 1rem;
  justify-content: center;
}

.button-radio-group {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.custom-radio-btn {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}