*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
  /*flex-direction: column;*/
  /*align-items: center;*/
  justify-content: center;
}

:root {
  --default-radius: .3rem;
  --default-padding-buttom: .7rem 3rem;


  --default-padding-box: 1.5rem;


  --register-login-bg-color: #f9f9f9;
  --regist-login-border-color: #3498db;
}