.submit-button-login {
  align-self: center;
}


.submit-button-add-menu {
  background-color: var(---default-positive-button-color-2);
  border: none;
  outline: none;
  color: white;
  border-radius: var(--default-radius);
  flex-grow: 1;
}
